<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua.emojikeyboard_core" >

    <application>
        <activity android:name=".custom_edittext.KeyboardActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
